@using AsyncFitness.Core.Models
@model GymCustomer

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <button type="button" onclick="location.href='@Url.Action("Create", "Entry")'">
        <div>Create Account</div>
    </button>
    <form asp-action="Login" method="post">
        <input type="text"/>
        <button type="button" onclick="location.href='@Url.Action("Login", "Entry")'">
            <div>Login</div>
        </button>
    </form>
</div>






<!--                         

    Email = "test@testmail.com",
                        FirstName = "Lars",
                        LastName = "Larsen",
                        MiddleName = "L.",
                        Phone = "11111111",
                        Password = "password",
                        City = "Sønderborg",
                        StreetName = "Fiskervænget",
                        StreetNumber = "12",
                        PostalCode = "6400"
                        
                       -->
