@using AsyncFitness.Core.Models
@model GymCustomer

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-left">
    <div>
    <button type="button" onclick="location.href='@Url.Action("Create", "Home")'">
        <div>Create Account</div>
    </button>
    </div>
    <br />
    <form asp-action="Login" method="post">
        <div>
        <input asp-for="@Model.Email" type="text" value="test@testmail.com" />
        </div>
        <div>
        <input name="pwText" type="password" value="password" />
        </div>
        <button type="submit">
            <div>Login</div>
        </button>
    </form>
</div>
