@using AsyncFitness.Core.Models
@model GymCustomer

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-left">
    <div>
    <button type="button" onclick="location.href='@Url.Action("Create", "Home")'">
        <div>Create Account</div>
    </button>
    </div>
    <br />
    <form asp-action="Login" method="post">
        <div>
        <input type="text" value="test@testmail.com" />
        </div>
        <div>
        <input type="password" value="password" />
        </div>
        <button type="button" onclick="location.href='@Url.Action("Login", "Home")'">
            <div>Login</div>
        </button>
    </form>
</div>






<!--                         

    Email = "test@testmail.com",
                        FirstName = "Lars",
                        LastName = "Larsen",
                        MiddleName = "L.",
                        Phone = "11111111",
                        Password = "password",
                        City = "Sønderborg",
                        StreetName = "Fiskervænget",
                        StreetNumber = "12",
                        PostalCode = "6400"
                        
                       -->
