@page "{year:int}, {week:int}"
@model AsyncFitness.Web.Areas.Fitness.Pages.ClassBookingModel
@{
}

<h1>Book Class</h1>

<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <th>Mandag</th>
                        </tr>
                        <tr>
                            <td style="display:table-cell">
                                <div>Hej</div>
                                <div>Hej 2</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>