@page
@using AsyncFitness.Core.Models
@model AsyncFitness.Web.Areas.Identity.Pages.Account.Manage.SubscriptionModel
@{
    ViewData["Title"] = "Manage Subscription";
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="form-floating">
    <input asp-for="Subscription.Name" class="form-control" disabled />
    <label asp-for="Subscription.Name" class="form-label"></label>
</div>

<form id="subscription-form" method="post">
    <div class="form-floating">
        <select asp-for="NewSubscriptionName">
            @foreach (Subscription sub in Model.SubscriptionsList)
            {
                <option>
                    <label asp-for="NewSubscriptionName">@sub.Name</label>
                </option>
            }
        </select>
    </div>
    <button id="change-subscription-button" type="submit" asp-page-handler="ChangeSubscription" class="w-100 btn btn-lg btn-primary">Change subscription</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}